.header {
    position: fixed; /* Fixa o cabeçalho no topo */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura da página */
    height: 100px; /* Altura do cabeçalho */
    background-color: #0097b8; /* Cor de fundo do cabeçalho */
    color: white;
    padding: 0; /* Espaçamento interno */
    display: flex; /* Usando flexbox */
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: space-between; /* Alinha o conteúdo da esquerda para a direita */
    font-size: 22px;
    font-family: belleza;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}

#logo {
    width: 100px;
    height: 100px;
}

nav {
    display: flex; /* Torna os links do cabeçalho flexíveis */
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
    transition: background-color 0.3s, color 0.3s; /* Animação para suavizar o efeito */
}

header a:hover {
    color: #004858;
}

main {
    margin-top: 80px; /* Espaço superior para que o conteúdo não fique escondido pelo cabeçalho */
    padding: 1em;
}

#loginform{
    background-color: #004858;
}